
body {
    background-image: url(http://maxilimpservice.com.br/apresenta/imagens/fundo1.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    text-align: center;
    background-color: #E3E4E5;
    margin: 0;
    padding: 0;
    max-width: flex;
    min-width: flex;
}

.container {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

.form-container {
    background-repeat: no-repeat;
    background-size: cover;
    width: flex;
    padding: 30px;
    text-align: left;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    margin-top: 10px;   
}


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #ffff;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    font-size: 18px;
}

form input[type="text"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6"><path fill="%23333" d="M6 0l6 6H0z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    padding-right: 30px;
}

form textarea {
    height: 100px;
}

form input[type="submit"] {
    background-color: #31db37;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #0b9c13;
}

.footer-img {
    width: 9%;
    max-width: 650px;
    height: auto;
}


